.terminal-output-box {
    padding: 1em;
    border: 1px solid yellow;
    text-align: left;
    font-family: monospace;
    font-size: 13pt;
    background: black;
    color: white;
}

.terminal-input-box {

}
