@import 'bootstrap/scss/bootstrap';

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.terminal-output-box {
    padding: 0.5em;
    border: 2px solid gray;
    text-align: left;
    font-family: "Lucida Console",monospace;
    font-size: 10pt;
    margin-bottom: 0;
    border-radius: 1em;
    background: whitesmoke;
}

.terminal-input-box {
    background: black;
    width: 100%;
    color: greenyellow;
    font-weight: bolder;
}
