.App {
  height: calc(100vh);
  overflow: hidden;

  background: ghostwhite;
  color: black;
}

.ToggleRibbon-disabled {
  width: 100%;
}

.ToggleRibbon {
}

.ToggleRibbon-icon {
  font-weight: lighter;
  font-size: 1.5em;
}

.ToggleRibbon-text {
  margin-left: 0.3em;
  font-weight: bold;
}

.PanelView {
}

.PanelRow-system {
}

.PanelRow-monitor {
}

