.App {
  padding: 1em;
  min-height: 100vh;

  background: ghostwhite;
  color: black;
}

.ToggleRibbon-disabled {
  width: 100%;
}

.ToggleRibbon {
}

.ToggleRibbon-icon {
  font-weight: lighter;
  font-size: 1.5em;
}

.ToggleRibbon-text {
  margin-left: 0.3em;
  font-weight: bold;
}

.PanelView {
}

.PanelRow-system {
}

.PanelRow-monitor {
}

